{% extends 'investments/base.html' %}
{% block title %}
Portfolios
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
You are logged in as {{user.username}}<br>
User id: {{user.id}}<br>
Email: {{user.email}}<br>
<br>
{% if message %}
{{message}}
<br>
{% endif %}
Portfolio list:<br>
{% if portfolios %}
{% for portfolio in portfolios %}
<a href="view/{{portfolio.portfolio_id}}">{{portfolio.portfolio_name}}</a><br>
{% endfor %}
{% else %}
No portfolios found<br>
{% endif %}
{% endif %}
<a href="add">Add</a> <a href="del">Delete</a>
{% endblock %}
