{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'homedata/login_bar.css' %}">
<header>
<span style="float:left">
{% for link in links %}
<a href="{{link.uri}}">>> {{link.text}}</a>
{% endfor %}
</span>
<span style="float:right">
{% if user.is_authenticated %}
Logged in as: {{user.username}} (<a href="{% url 'portfolio_index' %}">Account</a> | <a href="{% url 'logout' %}?next={{request.path}}">Logout</a>)
{% else %}
You are not logged in (<a href="{% url 'login' %}?next={{request.path}}">Login</a>)
{% endif %}
</span>
</header>
