<head>
<title>{{requested_ticker}} Chart</title>
<!-- code to include the highcharts and jQuery libraries goes here -->
<!-- load_charts filter takes a comma-separated list of id's where -->
<!-- the charts need to be rendered to                             -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mse/style.css' %}">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="http://code.highcharts.com/js/highcharts.js" type="text/javascript"></script>
<link rel="stylesheet" href="{% static 'mse/highcharts.css' %}" type="text/css">
{% load chartit %}
{{ charts|load_charts:"high_low_close,trades_chart,change_chart" }}
</head>

<body>
<div id="high_low_close"></div>
<div id="trades_chart"></div>
<div id="change_chart"></div>
</body>
