<head>
{% load static %}
<title>{{ requested_ticker }} details</title>
<link rel="stylesheet" type="text/css" href="{% static 'homedata/style.css' %}">
</head>
{% include "loginbar/login_bar.html" %}
<body>
{% if selected_ticker %}
{% load l10n %}
{% load humanize %}
   <table border=1px>
   <tr>
      <th>DATE</th>
      <th>TICKER</th>
      <th>VOLUME</th>
      <th>VALUE</th>
      <th>TRADES</th>
      <th>HIGH</th>
      <th>LOW</th>
      <th>OPEN</th>
      <th>CLOSE</th>
      <th>CHANGE</th>
   </tr>
   {% for trade in selected_ticker %}
   <tr>
      <td>{{ trade.date|date:'d-m-Y H:i' }}</td>
      <td>{{ trade.ticker }}</td>
      <td>{{ trade.volume|intcomma }}</td>
      <td>&euro;{{ trade.value|intcomma }}</td>
      <td>{{ trade.trades|intcomma }}</td>
      <td>&euro;{{ trade.high|intcomma }}</td>
      <td>&euro;{{ trade.low|intcomma }}</td>
      <td>&euro;{{ trade.open|intcomma }}</td>
      <td>&euro;{{ trade.close|intcomma }}</td>
      <td>&euro;{{ trade.change|intcomma }}</td>
       {% endfor %}
    </tr>
    </table>
    </br>
    <a href="chart">Chart</a>
{% else %}
<head><title>Error</title></head>
   <p>Ticker {{ requested_ticker }} not found.</p>
{% endif %}
</body>
{% include "loginbar/footer.html" %}
