td { /* mse details table */
  text-align: center;
  padding: 0 10px 0 10px;
}
body {
  background-color: #999999
}

.registrationform form {
  display: table;
}
.registrationform p {
  display: table-row;
}
.registrationform label, .registrationform input {
  display: table-cell;
}

