td { /* mse details table */
  text-align: center;
  padding: 0 10px 0 10px;
}
body {
  background-color: #999999;
  padding: 0;
  margin: 0;
}

.registrationform form {
  display: table;
}
.registrationform p {
  display: table-row;
}
.registrationform label, .registrationform input {
  display: table-cell;
}
.site {
  min-height: 100%;
  position: relative;
}
.content {
  padding-bottom: 35px;
}
.footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:35px;   /* Height of the footer */
}

/* View Portfolio table */
#portfolio_view_table ul {
   list-style-position:inside;
}
#portfolio_view_table #add_portfolio_data {
   display: inline;
}
#add_portfolio_data form {
   display: table;
}
td.security-label, td.security-value {
   text-align: left;
   white-space: nowrap;
}
td.security-label {
   width: 93;
}
td.security-value {
   width: 135;
}
td.quantity-sum, td.breakdown-label1, td.breakdown-value1, td.breakdown-label2, td.breakdown-value2, td.breakdown-label3, td.breakdown-value3, td.breakdown-value4, td.breakdown-value2 {
   text-align: right;
}
table.data-breakdown, table.header-table {
   border: 1px;
   border-spacing: 0;
}
td.breakdown-label1, td.breakdown-label2, td.breakdown-label3, td.breakdown-label4 {
   min-width: 100;
   text-align: right;
   white-space: nowrap;
}
/*Jquery*/
.ui-state-focus{
    outline: none;
}
