td { /* mse details table */
  text-align: center;
  padding: 0 10px 0 10px;
}
body {
  background-color: #999999
}

.registrationform form {
  display: table;
}
.registrationform p {
  display: table-row;
}
.registrationform label, .registrationform input {
  display: table-cell;
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   /*height:60px;   /* Height of the footer */
}
